.LogoSearch {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  box-shadow: 0 3px 20px rgb(228, 228, 228);
  /* width: 100%; */
  margin: 0 auto;
  border-radius: 12px;
  justify-content: center;
  padding: 10px;
}
.LogoSearch img {
  width: 4rem;
  height: 4rem;
}
.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
}
.s-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106.23deg, #9327f9, #cb35f9 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
  cursor: pointer;
}
