.TrendCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 20px rgb(228, 228, 228);
  /* gap: 1rem; */
  background-color: var(--cardColor);
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 1rem;
  /* height: 20rem; */
}
.TrendCard .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("../../../public/profile.jpeg");
  background-size: cover;
  background-position: top;
  margin: auto;
}

.TrendCard p {
  text-align: center;
  color: rgb(71, 71, 71);
}

.TrendCard h3 {
  text-align: center;
}

.TrendCard a {
  text-align: center;
  color: rgb(123, 0, 255);
}
