.RightSide {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;
  margin: auto;
  margin-top: 0;
}
.navIcons {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.navIcons img {
  width: 3.5rem;
  height: 3.5rem;
}
.r-button {
  height: 3rem;
  width: 80%;
  align-self: center;
}
