.ProfilePage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 2;
  gap: 1rem;
}
@media (max-width: 800px) {
  .ProfilePage {
    grid-template-columns: 1fr;
  }
}
.ProfileCenter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}
